[submodule "dep/openal-soft"]
	path = dep/openal-soft
	url = https://github.com/kcat/openal-soft.git
	commit = d3875f333fb6abe2f39d82caca329414871ae53b
[submodule "dep/ogg"]
	path = dep/ogg
	url = https://gitlab.xiph.org/xiph/ogg.git
	commit = e1774cd77f471443541596e09078e78fdc342e4f
[submodule "dep/vorbis"]
	path = dep/vorbis
	url = https://gitlab.xiph.org/xiph/vorbis.git
	commit = 0657aee69dec8508a0011f47f3b69d7538e9d262
[submodule "dep/theora"]
	path = dep/theora
	url = https://gitlab.xiph.org/xiph/theora.git
	commit = 7ffd8b2ecfc2d93ae5e16028e7528e609266bfbf
